@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div class="col-md-4">
        <h2>SEMYPROJECT</h2>
        <p>
           Welcome to yangzhou university
. This is a learning process I upload whatever lesson i learn about asp. Net.
            </p>
</div>
</div>
