
@{
    ViewBag.Title = "Submit2";
}

<h2>Submit2</h2>

<form action="Submit2Plus3" method="post">
    <input type="text" name="Username" placeholder="Username" /><br />
    <input type="password" name="Password" placeholder="Your pass" /><br />
    <input type="number" name="Age" placeholder="Your age" /><br />
    <input type="submit" value="Submit" />
</form>