
@{
    ViewBag.Title = "Submit";
}

<h2>Submit</h2>
<form action="SubmitPlus" method="get">
    <input type="text" name="user" placeholder="Username" /><br />
    <input type="password" name="pwd" placeholder="Your pass" /><br />
    <input type="number" name="Age" placeholder="Your age" /><br />
    <input type="submit" value="Submit" /> 
</form>

