
@{
    ViewBag.Title = "Bootstrap";
}

<h2 class="center-block">Bootstrap</h2>

<div class="container">
    <div class="row">
        @* col mod 1=  প্রতিটি সারিতে 12 টি কলম  ১ টি কলম একটি করে জায়গা নিবে
            col-sm-3= স্মল ডিভাইস এ ১ টি কলাম ৩ টি করে জায়গা নিবে সুতরাং ১ টি সারি তে ১২/৩ = ৪ টি কলাম বসবে
            col-xs-6=এক্সটা স্মল ডিভাইস এ ১ টি কলাম ৬  টি করে জায়গা নিবে সুতরাং ১ টি সারি তে ১২/৬  = ২  টি কলাম বসবে *@
        <div class="btn-danger  col-md-1 col-sm-3 col-xs-6">btn 1</div>
        <div class="btn-warning col-md-1 col-sm-3 col-xs-6">btn 2</div>
        <div class="btn-success col-md-1 col-sm-3 col-xs-6">btn 3</div>
        <div class="btn-info    col-md-1 col-sm-3 col-xs-6">btn 4</div>
        <div class="btn-default col-md-1 col-sm-3 col-xs-6">btn 5</div>
        <div class="btn-primary col-md-1 col-sm-3 col-xs-6">btn 6</div>
        <div class="bg-danger  col-md-1 col-sm-3 col-xs-6">bg 1</div>
        <div class="bg-warning col-md-1 col-sm-3 col-xs-6">bg 2</div>
        <div class="bg-success col-md-1 col-sm-3 col-xs-6">bg 3</div>
        <div class="bg-info    col-md-1 col-sm-3 col-xs-6">bg 4</div>
        <div class="bg-default col-md-1 col-sm-3 col-xs-6">bg 5</div>
        <div class="bg-primary col-md-1 col-sm-3 col-xs-6">bg 6</div>
        <div class="text-danger  col-md-1 col-sm-3 col-xs-6">text 1</div>
        <div class="text-warning col-md-1 col-sm-3 col-xs-6">text 2</div>
        <div class="text-success col-md-1 col-sm-3 col-xs-6">text 3</div>
        <div class="text-info    col-md-1 col-sm-3 col-xs-6">text 4</div>
        <div class="text-default col-md-1 col-sm-3 col-xs-6">text 5</div>
        <div class="text-primary col-md-1 col-sm-3 col-xs-6">text 6</div>
        <div class="panel-danger  col-md-1 col-sm-3 col-xs-6">panel 1</div>
        <div class="panel-warning col-md-1 col-sm-3 col-xs-6">panel 2</div>
        <div class="panel-success col-md-1 col-sm-3 col-xs-6">panel 3</div>
        <div class="panel-info    col-md-1 col-sm-3 col-xs-6">panel 4</div>
        <div class="panel-default col-md-1 col-sm-3 col-xs-6">panel 5</div>
        <div class="panel-primary col-md-1 col-sm-3 col-xs-6">panel 6</div>
        <div class="btn-danger col-md-1 col-sm-3 col-xs-6">Column 1</div>
        <div class="btn-danger col-md-1 col-sm-3 col-xs-6">Column 1</div>

    </div>
</div>
